<div>
  <mat-toolbar color="primary" class="c_toolbar" *ngIf="mostrarBarra">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2>Responsive App</h2>

    <div  class="c_toolbar_direita">
      <h4 class="c_user"> Adminstrador </h4>
    </div>



  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #snav class="sidenav-content">
      <mat-nav-list>
        <mat-list-item class="links" (click)="irLancamentos()" >
          <mat-icon matListIcon>assessment</mat-icon> Lançamentos
        </mat-list-item>
        <mat-list-item class="links" (click)="irPessoas()" >
          <mat-icon matListIcon>supervised_user_circle</mat-icon>Pessoas
        </mat-list-item  >
        <mat-list-item class="links">
          <mat-icon matListIcon>exit_to_app</mat-icon> Logout
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
