<div class="container">
  <div class="menu">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="abrirMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Responsive App</h2>

      <div  class="c_toolbar_direita">
        <h4 class="c_user"> {{usuario?.nome}} </h4>
      </div>

    </mat-toolbar>
  </div>
  <div  class="conteudo">
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav mode="side" #snav [(opened)]="menu"  class="faixa">
        <mat-nav-list>
          <mat-list-item class="links"  *ngIf="permissoes.lancamento.visualizacao" (click)="irLancamentos()" >
            <mat-icon matListIcon>assessment</mat-icon> Lançamentos
          </mat-list-item>
          <mat-list-item class="links"  *ngIf="permissoes.pessoa.visualizacao" (click)="irPessoas()" >
            <mat-icon matListIcon>supervised_user_circle</mat-icon>Pessoas
          </mat-list-item  >
          <mat-list-item class="links" (click)="logout()">
            <mat-icon matListIcon>exit_to_app</mat-icon> Logout
          </mat-list-item>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <ng-content></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>
