
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.menu{
  width: 100%;
  height: 64px;
}

.toolbar{
  height: 64px;
  z-index: 2;
}

.conteudo{
  width: 100%;
  height: calc(100% - 64px);
}

.conteudo-login{
  width: 100%;
  height: 100%;
}


.sidenav-container {
  height: 100%;
}

.faixa {
  background-color:rgb(126, 75, 214);
  width: 200px;
}


.c_toolbar_direita{
  flex: 1 1 auto;
}


.c_user{
  display: flex;
  justify-content: flex-end;
}

.links {
  color: white;
}
