/* tabela */

/* Tabela */
.col-acao-size{
  width: 80px;
}

/*
------------- */

.inpt-descricao {
  width: 80%;
}

.inpt-datas {
  width: 140px;
  padding-right: 10px;
}

.btns {
  display: flex;
    justify-content: space-between;
}

